body {
  font-family: Arial, sans-serif;
  background: linear-gradient(10deg, #051d0e, #071f11);



}

.parent {


  display: flex;
  flex-direction: row;
  justify-content: space-evenly;



}


/*pour squad builder */

.Liste {
  position: relative;
  top: 5rem;
  width: auto;
  height: auto;

}

.Liste img {

  border-radius: 1rem;

}

.titre-List {
  color: azure;
}


form {

  padding: 1rem 1rem 0rem 1rem;
  border: 1px solid #002e18;
  border-radius: 5px;
  background-color: #061a14;
  overflow-y: scroll;
  width: 55vh;
  height: 50vh;
}

#form-group1 {
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1b211f;
}




label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: aliceblue;
}

input {
  margin: 5px;
}

input[type=url] {
  color: black;


}

input[type=number] {
  width: 20%;
}

input,
select,
button {
  width: 50%;
  padding: 10px;
  border: 1px solid #314843;
  border-radius: 4px;
}

button {
  background-color: #409c65;
  color: rgb(20, 70, 43);
  cursor: pointer;
}

button:hover {
  background-color: rgb(144, 225, 144);
}

aside {
  position: relative;
  top: 1rem;
  width: 30%;



}

main {

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}

/*pour button cancel*/
.btn-cancel {
  display: none;
}

.btn-cancel1 {
  display: block;
}

/* pour fomrulaire d'ajoute*/
.nonn {
  display: none;
}

.nonn1 {
  display: block;
}

/*pour button ajouter joueur*/
.btn {
  display: block;
}

.btn1 {
  display: none;
}

/*grid layout pour les carte */

.container-card {
  background: url(../img/télécharger.svg);
  background-size: calc(45rem);
  background-repeat: no-repeat;
  height: 100%;

}

#imgHightWith {
  width: 15vh;
  height: 20vh;


}

#buttonKeeper:hover {
  transform: scale(1.9);
}


.Attaquant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 5rem;

  position: absolute;
  bottom: rem;
  left: 7rem;



}

.cardrush2 {
  position: relative;
  margin-top: 2rem;
}

.Milieu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;


  position: absolute;
  bottom: 14rem;
  left: 7rem;

}

.cardrush5 {
  position: relative;
  top: 3rem;
}

.Defenseur {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;


  position: absolute;
  bottom: 7.5rem;


}

.cardrush8 {

  position: relative;
  top: 3rem;
}

.cardrush9 {
  position: relative;
  top: 3rem;
}

.goalkeeper {

  display: grid;
  place-items: center;


  position: absolute;
  top: 32rem;
  left: 19rem;



}

#buttonKeeper {
  width: 18vh;
  height: 19vh;
  background: none;
  border: none;
  transition: 0.3s ease-in-out;
}

/* information des joueurs*/

/*premierment GK*/
.flagGK {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;


  width: 6vh;
  height: 1.5vh;
  position: absolute;
  top: 5rem;
  left: 2rem;
}

.DrapeuNational,
.logoClub {
  height: 100%;
  text-align: center;
}


.info-joueur-comple-GK {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  bottom: 8.3rem;
}

.nameGK {
  color: white;
  font-size: 0.8rem;
}

.info-joueurGK {
  display: flex;
  flex-direction: row;
  gap: 00.2rem;
  color: aliceblue;
  font-size: 0.3rem;
}

.statiqueValueGK {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;

  font-size: 0.3rem;
}

.img {

  width: 3rem;
  height: 2.8rem;

}

.GK {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  bottom: 6.5rem;
  right: 1.8rem;
  font-size: 0.6rem;
}

.valuePositionGK {
  font-size: 0.5rem;
  position: relative;
  left: 0.05rem;
}

/*pour les defenseur  RB CB CB LB*/
.flagRB,
.flagCB1,
.flagCB2,
.flagLB {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: absolute;
  top: 5rem;
  left: 2rem;


  width: 6vh;
  height: 1.5vh;

}

.info-joueur-comple-RB,
.info-joueur-comple-CB1,
.info-joueur-comple-CB2,
.info-joueur-comple-LB {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  bottom: 8.3rem;
}

.nameRB,
.nameCB1,
.nameCB2,
.nameLB {
  color: white;
  font-size: 0.8rem;
}

.info-joueurRB,
.info-joueurCB1,
.info-joueurCB2,
.info-joueurLB {
  display: flex;
  flex-direction: row;
  gap: 00.2rem;
  color: aliceblue;
  font-size: 0.3rem;
}

.statiqueValueRB,
.statiqueValueCB1,
.statiqueValueCB2,
.statiqueValueLB {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  font-size: 0.3rem;
}

.img,
.img,
.img,
.img {

  width: 3rem;
  height: 2.8rem;

}

.RB,
.CB1,
.CB2,
.LB {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  bottom: 6.5rem;
  right: 1.8rem;
  font-size: 0.6rem;
}

.valuePositionRB,
.valuePositionCB1,
.valuePositionCB2,
.valuePositionLB {
  font-size: 0.5rem;
  position: relative;
  left: 0.05rem;
}


/*pour les Milieu MR CM ML*/
.flagCM,
.flagML,
.flagMR {

  display: flex;
  flex-direction: row;


  width: 6vh;
  height: 1.5vh;
  gap: 0.5rem;
  position: absolute;
  top: 5rem;
  left: 2rem;
}

.info-joueur-comple-CM,
.info-joueur-comple-ML,
.info-joueur-comple-MR {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  bottom: 8.3rem;
}

.nameCM,
.nameML,
.nameMR {
  color: white;
  font-size: 0.8rem;
}

.info-joueurCM,
.info-joueurML,
.info-joueurMR {
  display: flex;
  flex-direction: row;
  gap: 00.2rem;
  color: aliceblue;
  font-size: 0.3rem;
}

.statiqueValueCM,
.statiqueValueML,
.statiqueValueMR {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  font-size: 0.3rem;
}

.img,
.img,
.img {

  width: 3rem;
  height: 2.8rem;

}

.CM,
.ML,
.MR {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  bottom: 6.5rem;
  right: 1.8rem;
  font-size: 0.6rem;
}

.valuePositionCM,
.valuePositionML,
.valuePositionMR {
  font-size: 0.5rem;
  position: relative;
  left: 0.05rem;
}

/*por les attaquant  LR SA LW*/
.flagRW,
.flagSA,
.flagLW {

  display: flex;
  flex-direction: row;


  width: 6vh;
  height: 1.5vh;
  gap: 0.5rem;
  position: absolute;
  top: 5rem;
  left: 2rem;
}

.info-joueur-comple-RW,
.info-joueur-comple-SA,
.info-joueur-comple-LW {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  bottom: 8.3rem;
}

.nameRW,
.nameSA,
.nameLW {
  color: white;
  font-size: 0.8rem;
}

.info-joueurRW,
.info-joueurSA,
.info-joueurLW {
  display: flex;
  flex-direction: row;
  gap: 00.2rem;
  color: aliceblue;
  font-size: 0.3rem;
}

.statiqueValueRW,
.statiqueValueSA,
.statiqueValueLW {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  font-size: 0.3rem;
}

.img,
.img,
.img {

  width: 3rem;
  height: 2.8rem;

}

.RW,
.SA,
.LW {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  bottom: 6.5rem;
  right: 1.8rem;
  font-size: 0.6rem;
}

.valuePositionRW,
.valuePositionSA,
.valuePositionLW {
  font-size: 0.5rem;
  position: relative;
  left: 0.05rem;
}
.itemsChange {

  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative;


}
/*  responsive du (1024px) */
@media (max-width: 1024px) {
  #buttonKeeper {
    width: 15vh;
    height: 12vh;
    position: relative;
    bottom: 7rem;
    right: 2rem;
  }

  #imgHightWith {
    width: 15vh;
    height: 8rem;
  }

  .container-card {
    position: relative;
  }

  .itemsChange {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
    position: relative;
    top: 6rem;
    left: 5rem;
  }

  aside {
    width: 50%;
    max-height: 50%;
    position: relative;

    left: 25%;
  }

  .parent {


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .Attaquant {
    position: absolute;
    top: 5rem;
    left: 9rem;

  }

  .Milieu {
    position: absolute;
    top: 13rem;
    left: 9rem;
  }

  .Defenseur {
    position: absolute;
    top: 20rem;
    left: 5rem;
  }

  .info-joueur-comple-GK,
  .info-joueur-comple-RB,
  .info-joueur-comple-CB1,
  .info-joueur-comple-CB2,
  .info-joueur-comple-LB,
  .info-joueur-comple-CM,
  .info-joueur-comple-ML,
  .info-joueur-comple-MR,
  .info-joueur-comple-RW,
  .info-joueur-comple-SA,
  .info-joueur-comple-LW {
    display: flex;
    flex-direction: column;
    align-items: center;


    position: absolute;
    top: 3rem;
    left: 1.38rem;
  }

  .img,
  .img,
  .img,
  .img,
  .img,
  .img,
  .img,
  .img,
  .img,
  .img,
  .img {
    width: 2.5rem;
    height: 2.3rem;
  }

  .nameGK,
  .nameRB,
  .nameCB1,
  .nameCB2,
  .nameLB,
  .nameCM,
  .nameML,
  .nameMR,
  .nameRW,
  .nameSA,
  .nameLW {
    font-size: 0.7rem;
  }

  .valuePositionGK,
  .valuePositionRB,
  .valuePositionCB1,
  .valuePositionCB2,
  .valuePositionLB,
  .valuePositionCM,
  .valuePositionML,
  .valuePositionMR,
  .valuePositionRW,
  .valuePositionSA,
  .valuePositionLW {
    font-size: 0.4rem;
  }
}


/*ici c'est pour les joueur de changements */
.container-Changemants {
  background: url(../img/backgroundManager.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;


}

/*ici c'est pour le changements de la formation 4-4-2 */

.TroisQuatre {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.TroisQuatreMR {
  position: relative;
  top: 3rem;
  right: 0.8rem;

}

.TroisQuatreSA {
  position: relative;
  left: 6rem;

}

.TroisQuatreRW {
  position: relative;
  left: 6.2rem;
  top: 2rem;
}
/*pour les message d'error*/
.hidden{
  
 
  display:none;
 
}
span {
  color: red;
  font-size: 10px;
}

.Changements h3 {
  color: white;
  font-size: 1.6rem;
}



